*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;

}

body{

background:#f3f5fa;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.auth-container{

width:1000px;
max-width:95%;
height:600px;

display:flex;

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 60px rgba(0,0,0,.15);

}

.left-side{

flex:1;

background:url("images/login-bg.jpg") center/cover;

position:relative;

}

.overlay{

position:absolute;

inset:0;

background:rgba(0,35,90,.75);

display:flex;

flex-direction:column;

justify-content:center;

padding:60px;

color:white;

}

.overlay h1{

font-size:40px;

margin-bottom:20px;

}

.overlay p{

line-height:1.8;

font-size:17px;

}

.right-side{

flex:1;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.form-box{

width:100%;
max-width:380px;

}

.form-box h2{

font-size:34px;

color:#0d47a1;

margin-bottom:10px;

}

.subtitle{

color:#777;

margin-bottom:30px;

}

.input-group{

position:relative;

margin-bottom:20px;

}

.input-group input{

width:100%;

padding:15px 50px;

border:2px solid #ddd;

border-radius:10px;

font-size:15px;

outline:none;

transition:.3s;

}

.input-group input:focus{

border-color:#0d47a1;

}

.input-group i:first-child{

position:absolute;

left:18px;

top:17px;

color:#888;

}

.togglePassword{

position:absolute;

right:18px;

top:17px;

cursor:pointer;

color:#888;

}

.auth-btn{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#0d47a1;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.auth-btn:hover{

background:#08357d;

}

.switch-text{

text-align:center;

margin-top:20px;

}

.switch-text a{

text-decoration:none;

color:#0d47a1;

font-weight:600;

}

@media(max-width:850px){

.auth-container{

flex-direction:column;

height:auto;

}

.left-side{

height:250px;

}

}